In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import requests
from pandas.io.json import json_normalize
from urllib.request import urlopen

In [2]:
# Bitcoin ONLY - pulled from data world.
bitcoin_df = pd.read_json('https://query.data.world/s/cpfmzvxadcf6ynzriluhpyailqj4y4')
bitcoin_df.head()

    average                 time      high       low      open        volume
0  58277.59  2021-11-25 00:00:00  59409.51  57094.56  57197.81  29739.210761
1  56772.41  2021-11-24 00:00:00  57677.94  55999.13  57601.95  33898.385536
2  56923.07  2021-11-23 00:00:00  57847.04  55709.19  56308.07  42721.337108
3  57397.93  2021-11-22 00:00:00   59224.7  55746.63  58860.23  57911.765042
4  59212.89  2021-11-21 00:00:00  59996.33  58712.58  59776.14  18103.065426

In [3]:
new_bitcoin_dataworld_df = bitcoin_df[["average", "time", "volume"]].copy()
new_bitcoin_dataworld_df.head()

    average                 time        volume
0  58277.59  2021-11-25 00:00:00  29739.210761
1  56772.41  2021-11-24 00:00:00  33898.385536
2  56923.07  2021-11-23 00:00:00  42721.337108
3  57397.93  2021-11-22 00:00:00  57911.765042
4  59212.89  2021-11-21 00:00:00  18103.065426

In [4]:
rds_connection_string = "postgres:rocket211@localhost:5432/Crypto_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
new_bitcoin_dataworld_df.to_sql(name='dataworld', con=engine, if_exists='append', index=False)

In [6]:
pd.read_sql_query('select * from dataworld', con=engine).head()

    average                 time        volume
0  58277.59  2021-11-25 00:00:00  29739.210761
1  56772.41  2021-11-24 00:00:00  33898.385536
2  56923.07  2021-11-23 00:00:00  42721.337108
3  57397.93  2021-11-22 00:00:00  57911.765042
4  59212.89  2021-11-21 00:00:00  18103.065426

In [7]:
# Create a filtered dataframe from specific columns
premise_cols = ["average", "time", "high", "low", "open", "volume"]
premise_transformed= bitcoin_df[premise_cols].copy()

# Rename the column headers
premise_transformed = premise_transformed.rename(columns={"average": "Average",
                                                          "time": "Time",
                                                          "high": "High",
                                                          "low": "Low",
                                                          "open": "Open",
                                                          "volume": "Volume"})

premise_transformed.head()

    Average                 Time      High       Low      Open        Volume
0  58277.59  2021-11-25 00:00:00  59409.51  57094.56  57197.81  29739.210761
1  56772.41  2021-11-24 00:00:00  57677.94  55999.13  57601.95  33898.385536
2  56923.07  2021-11-23 00:00:00  57847.04  55709.19  56308.07  42721.337108
3  57397.93  2021-11-22 00:00:00   59224.7  55746.63  58860.23  57911.765042
4  59212.89  2021-11-21 00:00:00  59996.33  58712.58  59776.14  18103.065426

In [8]:
connection_string = "postgres:rocket211@localhost:5432/Crypto_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
# Confirm tables
engine.table_names()

<ipython-input-9-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['"Bitcoin"', 'Cosmos', 'Doge', 'Bitcoin', 'dataworld']